---
import '../styles/global.css';

import Footer7 from '@/components/Footer.astro'
import Features  from '@/components/Features.astro'
import Faq  from '@/components/Faq.astro'

import Hero from '@/components/Hero.astro'
import Header from "../components/Header.astro"
import HowItWorks from '@/components/HowItWorks.astro';
import Pricing from '@/components/Pricing.astro';
import Community from '@/components/Community.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/flowly-logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Flowly – Task & Project Management</title>
	</head>
	<body>
		<Header />
		<main class="flex flex-col items-center">
			<Hero />
			<Features />
			<HowItWorks />
			<Pricing />
			<Community />
			<Faq />
		</main>
		<Footer7 />
	</body>
</html>
