---
import '../styles/global.css';

import { Hero12 }from '@/components/hero12'
import { Footer7 }from '@/components/footer7'

import Features  from '@/components/features'
import Faq  from '@/components/faq'
import Header from "../components/Header.astro"
import { Feature15 } from '@/components/feature15';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>
	<body>
		<Header />
		<main class="grid place-items-center content-center">
			<Hero12 />
			<Features />
			<Feature15/>
			<Faq />
		</main>
		<Footer7 />
		<div class="w-full flex justify-center">
		</div>
	</body>
</html>
