---
import '../styles/global.css';

import { Footer7 }from '@/components/footer7'
import { Feature15 } from '@/components/feature15';
import { Community2 } from '@/components/community2';
import Features  from '@/components/features'
import Faq  from '@/components/faq'

import Hero from '@/components/Hero.astro'
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/flowly-logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Flowly</title>
	</head>
	<body>
		<Header />
		<main class="grid place-items-center content-center">
			<Hero />
			<Features />
			<Feature15 />
			<Community2 />
			<Faq />
		</main>
		<Footer7 />
	</body>
</html>
