---
import { ArrowUpRight, Twitter, Linkedin, Github } from "lucide-react";
import { RiDiscordLine } from "react-icons/ri";

const community = [
  {
    icon: Twitter,
    title: "Twitter",
    link: "https://x.com/",
    description: "Follow our latest updates and announcements.",
  },
  {
    icon: Linkedin,
    title: "Linkedin",
    link: "https://www.linkedin.com/",
    description: "Connect with us and explore career opportunities.",
  },
  {
    icon: Github,
    title: "Github",
    link: "https://github.com/Mrsfab09/Flowly-website",
    description: "Contribute to our open-source projects.",
  },
  {
    icon: RiDiscordLine,
    title: "Discord",
    link: "https://discord.com/",
    description: "Join our Discord server and connect with other developers.",
  },
];
---

<section class="px-4 py-16 md:py-32" id="community">
  <div class="mx-auto max-w-7xl">
    <h2 class="mb-4 text-center text-2xl font-semibold md:text-3xl">Join our community</h2>
    <p class="text-muted-foreground text-center font-medium md:text-xl">
      Connect with others, share experiences, and stay in the loop.
    </p>

    <div class="mt-10 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
      {
        community.map(({ title, description, link, icon: Icon }) => (
          <a
            class="group border-border flex flex-col justify-between rounded-md border p-6"
            href={link}
            target="_blank"
          >
            <div class="flex items-center justify-between gap-4">
              <Icon size={24} />
              <ArrowUpRight className="h-4 w-4 -translate-x-2 translate-y-2 opacity-0 transition-all group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100" />
            </div>
            <div class="mt-4">
              <h3 class="mb-1 font-semibold">{title}</h3>
              <p class="text-muted-foreground text-sm">{description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
