---
import { ArrowUpRight, Twitter, Linkedin, Github } from "lucide-react";
import { RiDiscordLine } from "react-icons/ri";
---
    <section class="px-52 py-32">
      <div class="container px-32">
        <h2 class="mb-5 text-2xl font-semibold md:text-3xl">Join our community</h2>
        <p class="text-muted-foreground font-medium md:text-xl">
          Connect with others, share experiences, and stay in the loop.
        </p>
        <div class="mt-10 grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">
          <a class="group border-border rounded-md border p-6" href="/">
            <div class="flex items-center justify-between gap-4">
              <Twitter />
              <ArrowUpRight className="size-4 -translate-x-2 translate-y-2 opacity-0 transition-all group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100" />
            </div>
            <div class="mt-4">
              <h3 class="mb-1 font-semibold">Twitter</h3>
              <p class="text-muted-foreground text-sm">
                Follow our latest updates and announcements.
              </p>
            </div>
          </a>
          <a class="group border-border rounded-md border p-6" href="/">
            <div class="flex items-center justify-between gap-4">
              <Linkedin />
              <ArrowUpRight className="size-4 -translate-x-2 translate-y-2 opacity-0 transition-all group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100" />
            </div>
            <div class="mt-4">
              <h3 class="mb-1 font-semibold">LinkedIn</h3>
              <p class="text-muted-foreground text-sm">
                Connect with us and explore career opportunities.
              </p>
            </div>
          </a>
          <a
            class="group border-border rounded-md border p-6"
            href="https://github.com/Mrsfab09/Flowly-website"
          >
            <div class="flex items-center justify-between gap-4">
              <Github />
              <ArrowUpRight className="size-4 -translate-x-2 translate-y-2 opacity-0 transition-all group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100" />
            </div>
            <div class="mt-4">
              <h3 class="mb-1 font-semibold">Github</h3>
              <p class="text-muted-foreground text-sm">
                Contribute to our open-source projects.
              </p>
            </div>
          </a>
          <a class="group border-border rounded-md border p-6" href="/">
            <div class="flex items-center justify-between gap-4">
              <RiDiscordLine size={25} />
              <ArrowUpRight className="size-4 -translate-x-2 translate-y-2 opacity-0 transition-all group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100" />
            </div>
            <div class="mt-4">
              <h3 class="mb-1 font-semibold">Discord</h3>
              <p class="text-muted-foreground text-sm">
                Join our Discord server and connect with other developers.
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>
